{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsonRecursive": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "preserve",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
